asciidoc==10.2.0
chardet==4.0.0
Django==1.8
django-bootstrap-toolkit==2.15.0
djangorestframework==2.3.6
ghdiff==0.2
gitdb==0.6.4
gitdb2==3.0.1
GitPython==1.0.0
Pygments==2.11.2
six==1.16.0
smmap==3.0.1
smmap2==3.0.1
suds==1.0.0
